{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="col-md-12">
  <div class="row mb-2">
    <div class="col-md-8">
      <h1 class="mb-3">The best books in the whole world!</h1>
      <p class="h4">Flibre is a place where you can choose from most impressive catalog ever found in the universe.
        Choose
        among adventure stories through romances and sci-fi. Something interesting for everyone. Don't waste any more
        time
        and start your adventure here.</p>
    </div>
    <div class="col-md-4 mx-auto">
      <img src="/static/flibre-logo.png" alt="Flibre logo" width="200" height="200">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="">
        <a class="btn btn-lg btn-dark mb-2" style="margin:0" href="/catalog/books" role="button">Catalog</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}