{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="col-md-12 text-justify">
  <div class="row mb-2 align-items-center">
    <div class="col-md-8">
      <h1 class="mb-3">The best inventory in the whole world!</h1>
      <p class="h4">Flibre is a place where you can choose from most impressive catalog ever found in the universe.
        Choose
        among adventure stories through romances and sci-fi. Something interesting for everyone. Don't waste any more
        time
        and start your adventure here.</p>
    </div>
    <div class="col-md-4 text-center">
      <img src="/static/flibre-logo.png" alt="Flibre logo" width="270" height="270">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="">
        <a class="btn btn-lg btn-dark mb-2" style="margin:0" href="/catalog/books" role="button">Catalog</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block followup %}
<div class="col-md-8 text-justify">
  <h2>About us</h2>
  <p class="h5">Founded in 1895, NYPL is the nation's largest public library system, featuring a unique combination of
    88 neighborhood branches and four scholarly research centers, bringing together an extraordinary richness of
    resources and opportunities available to all.</p>
</div>
{% endblock %}