{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h2>Lorem</h2>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id vulputate velit, in vestibulum turpis. Quisque vestibulum varius aliquam. Nunc in nulla ligula. Suspendisse id justo arcu. Sed tristique felis ac congue tincidunt. Vivamus nisi nunc, hendrerit vel dui ac, tristique bibendum nisl. Proin sit amet mi dapibus, vulputate libero et, ultrices purus. Quisque a euismod nunc. Maecenas mattis velit elit, quis tincidunt magna lobortis eget. Donec sed nisl fringilla velit egestas imperdiet commodo quis tortor. Morbi ut neque risus. Nulla aliquet felis ac magna eleifend, in eleifend ante vehicula. Nulla facilisi. Vestibulum ac elit a lorem laoreet consequat. Aliquam a nisl mattis, ornare dui efficitur, tincidunt augue.
{% endblock %}