{% extends 'layout.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container w-75">
  <h3 class="mb-4">Profile</h3>
  <div class="row mb-5 align-items-center">
    <div class="mx-2">
      <h1>{{ profile_username }}</h1>
    </div>
    <div class="mx-2">
      <a class="btn btn-dark mb-2" href="/users/user/{{ profile_username }}/edit" role="button">Edit</a>
    </div>
  </div>
  <h4 class="mb-4">Borrowed books:</h4>
  <table class="table text-center">
    <thead class="x-thead-dark">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      {% if current_user %}
      <th scope="col">Return</th>
      {% endif %}
    </tr>
    </thead>
    {% for book in borrowed_books %}
    <tr>
      <td scope="row">{{ loop.index }}</td>
      <td scope="row"><a href="/catalog/books/{{ book['id'] }}">{{ book['title'] }}</a></td>
      <td scope="row">{{ book['author'] }}</td>
      {% if current_user %}
      <td>
        <form action="/catalog/books/return" method="POST">
          <button class="btn btn-dark mb-2 mx-2" name="return_book_id" type="submit" value="{{ book['id'] }}">
            Return
          </button>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}