{% extends "layout.html" %}
{% block title %}Add item{% endblock %}

{% block content %}
  <form action="add_item_post" method="post">
    <div class="form-field">
      <label for="isbn">ISBN:</label>
      <input id="isbn" type="text" name="isbn">
    </div>
    <div class="form-field">
      <label for="title">Title:</label>
      <input id="title" type="text" name="title">
    </div>
    <div class="form-field">
      <label for="subtitle">Subtitle:</label>
      <input id="subtitle" type="text" name="subtitle">
    </div>
    <div class="form-field">
      <label for="author">Author:</label>
      <input id="author" type="text" name="author">
    </div>
    <div class="form-field">
      <label for="published">Published:</label>
      <input id="published" type="text" name="published">
    </div>
    <div class="form-field">
      <label for="publisher">Publisher:</label>
      <input id="publisher" type="text" name="publisher">
    </div>
    <div class="form-field">
      <label for="pages">Pages:</label>
      <input id="pages" type="number" name="pages">
    </div>
    <div class="form-field">
      <label for="description">Description:</label>
      <textarea id="description" type="text" name="description"></textarea>
    </div>
    <div class="form-field">
      <label for="website">Website:</label>
      <input id="website" type="text" name="website">
    </div>
    <div class="form-field">
      <input class="button" type="submit">
    </div>
  </form>
{% endblock %}
