{% extends "layout.html" %}
{% block title %}Add item{% endblock %}

{% block content %}
  <form action="add_item_post" method="post">
    ISBN:<input type="text" name="isbn">
    <br>
    Title:<input type="text" name="title">
    <br>
    Subtitle:<input type="text" name="subtitle">
    <br>
    Author:<input type="text" name="author">
    <br>
    Published:<input type="text" name="published">
    <br>
    Publisher:<input type="text" name="publisher">
    <br>
    Pages:<input type="number" name="pages">
    <br>
    Description:<input type="text" name="description">
    <br>
    Website:<input type="text" name="website">
    <br>
    <input type="submit">
  </form>
{% endblock %}
