body {
    background-color: #f1f1f1;
}

h1 {
    font-size: 4rem;
}

.bg-navbar {
    background-color: #e3e3e3;
}

.table .x-thead-dark th {
    background-color:#e3e3e3;
}

.table tr {
    background-color:#fff;
}

.btn-dark {
    background-color: #1c80db;
    border-color: #1b6cb5;
}

.btn-dark:hoover {
    background-color: #1c80db;
    border-color: #1b6cb5;
}

.bd-curve {
    background: linear-gradient(to right bottom,#ebebeb 50%,#f1f1f1 50%);
    background-image: linear-gradient(to right bottom, #ebebeb 50%, #f1f1f1 50%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}